main{
    .about-us{
        margin-top: 15px;
        background-color: $main-color-bg;
        width: 100%;
        .contain-about-us-1{
            margin: 0px 100px;
            padding-top: 150px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .content-about-us{
                margin-right: 30px;
                width: 50%;
                span{
                    font-size: 20px;
                    font-weight: 600;
                    color: $main-color;
                }
                h2{
                    color: black;
                    font-size: 45px;
                    font-weight: 500;
                    margin-bottom: 30px;
                }
                p{
                    font-size: 22px;
                    font-weight: 400;
                    letter-spacing: 1.5px;
                }
            }
            .images-about-us{
                margin-left: 30px;
                width: 50%;
                display: flex;
                img{
                    border-radius: 10px;
                    margin: 10px;
                    height: 420px;
                    width: 260px;
                }
                .img-left{
                    img{
                        border-radius: 10px;
                        width: 260px;
                        height: 200px;
                    }
                }
            }
        }
        .contain-about-us-2{
            margin-top: 100px;
            padding-bottom: 100px;

            .row-custom{
                display: flex;
                align-items: center;
                .img-div-about-us{
                    width: 50%;
                    img{
                        width: 100%;

                    }
                }
                .content-about-us{
                    padding-right: 50px;

                    &:last-child{
                        text-align: right;
                        padding-left: 50px;
                        padding-right: 0px;
                    }
                    width: 50%;
                    span{
                        font-size: 20px;
                        font-weight: 600;
                        color: $main-color;
                    }
                    h2{
                        color: black;
                        font-size: 45px;
                        font-weight: 500;
                        margin-bottom: 30px;
                    }
                    p{
                        font-size: 22px;
                        font-weight: 400;
                        letter-spacing: 1.5px;
                    }
                }
                
            }
        }
        .about-us-features{
            margin-top: 100px;
            ul{
                display: flex;
                justify-content: space-around;
                li{
                    padding: 35px 50px;
                    background-color: white;
                    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.226);
                    text-align: center;
                    border-radius: 11px;
                    .icon{
                        text-align: center;
                        font-size: 40px;
                        color: $main-color;
                    }
                    span{
                        color: $main-color;
                    }
                }
            }
        }
    }


    .advantages{
        margin-bottom: 100px;
        text-align: center;
        background-repeat: no-repeat;
        background-image: url(../uploads/images/section-bg-5.jpg);
        .advantages-overlay{
            padding: 80px;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
        }
        span{
            font-size: 21px;
            font-weight: 400;
            letter-spacing: 1px;
            color: white;
            margin-top: 70px;
            margin-bottom: 15px;
            color: $main-color;
        }
        h2{
            font-size: 55px;
            font-family: $sub-font;
            font-weight: 500;
            color: white;
            margin-bottom: 50px;
        }
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            li{
                text-align: left;
                width: 430px;
                display: flex;
                padding: 30px 15px 0px 15px;
                .icon{
                    padding-right: 20px;
                    font-size: 37px;
                    color: $main-color;
                }
                .content-advantages{
                    h3{
                        padding-top: 5px;
                        color: white;
                        font-family: $sub-font;
                    }
                    p{
                        color: #ccc;
                    }
                }
            }
        }
    }




    .about-us-features{
        margin: 100px 0;
        ul{
            display: flex;
            justify-content: space-evenly;
            li{
                padding: 35px 100px;
                background-color: white;
                box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.226);
                text-align: center;
                border-radius: 11px;
                .icon{
                    text-align: center;
                    color: $main-color;
                    h2{
                        font-size: 40px;
                        font-family: $sub-font;
                    }
                }
                span{
                    color: $main-color;
                }
            }
        }
    }






}