*{
box-sizing: border-box;
padding: 0px;
margin: 0px;
}
body{
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
li{
    list-style: none;
}
ul{
    padding: 0px;
    margin: 0px;
}